{% extends "base.html" %}
{% block title %}Signup Page{% endblock %}

{% block content %}
{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for msg in messages %}
            <p>{{ msg }}</p>
        {% endfor %}
    {% endif %}
{% endwith %}

<h2>회원가입</h2>
<form method="post">
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" value="{{user.username}}" readonly><br>
    <label for="password">password:</label>
    <input type="password" id="password" name="password"><br>
    <label for="username">Email:</label>
    <input type="text" id="email" name="email" value="{{user.email}}"><br>
    <button type="submit">로그인</button>
</form>
<p>계정이 없으신가요? <a href="{{url_for('signin')}}">회원가입</a></p>

{% endblock %}